form{
    background-color: rgb(252, 248, 248);
    border-radius: 3px;
    color: #999;
    font-size: 1.8em;
    padding: 10px;
    margin: 0 auto;
    width: 300px;
  }
  h1{
    text-align: center;
  }
  
  input, textarea{
    border: 0;
    width: 280px;
    border-radius: 9px;
  }
  
  .field{
    border: solid 1px #ccc;
    padding: 10px;
  
    
  }
  
  .field:focus{
    border-color: #f9f9f6;
  }
  
  .center-content{
    text-align: center;
  }
  .btn{
  border-radius: 9px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(24, 237, 219, 0.921);
  box-shadow: 0 1px 1px rgba(175, 180, 184, 0.3); 
  }
  
  .btn{
  color: rgb(215, 213, 213);
  background-color: #28e2ef;
  }
  .btn:hover{
  background-color: #37daf0;	
  }
  .btn:active{
  background-color: #29bcd6;
  }
  
  /* Responsive*/
  
  @media screen and (max-width: 1920px){
    body{
        background-color: rgb(195, 255, 127);
    }
  }
  @media screen and (max-width: 1280px){
    body{
        background-color: rgb(42, 241, 245);
    }
  }
  
  @media screen and (max-width: 800px){
    body{
        background-color: rgb(255, 172, 127);
    }
  }
  
  @media screen and (max-width: 480px){
    body{
        background-color: rgb(127, 136, 255);
    }
  }
  
  
  